.header {
    background-color: #232f3e;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-link {
    color: white;
    text-decoration: none;
}

.header-option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 5px 20px;
}
.header-searchIcon {
    padding: 5px;
    height: 22px !important;
    border-radius: 8px;
}

.header-search {
    display: flex;
    background-color: #cd9042;
    border-radius: 8px;
    flex: 1;
    min-width: 100px;
}

.header-searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
}

.header-optionLineOne {
    font-size: 11px;
}
.header-optionLineTwo {
    font-size: 13px;
    font-weight: bold;
}

.header-optionBasket {
    color: white;
    display: flex;
    align-items: center ;
}

.header-basketCount {
    margin: 0px 10px;
}